name: Build Android APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download Godot
      run: |
        wget https://github.com/godotengine/godot-builds/releases/download/3.5.3-stable/Godot_v3.5.3-stable_mono_linux_headless_64.zip -O godot.zip
        unzip godot.zip -d godot
        chmod +x godot/Godot_v3.5.3-stable_mono_linux_headless.64

    - name: Export Android APK
      uses: firebelley/godot-export@v4
      with:
        godot_executable_download_url: https://github.com/godotengine/godot-builds/releases/download/3.5.3-stable/Godot_v3.5.3-stable_mono_linux_headless_64.zip
        export_preset: "Android"
        output_path: build/game.apk

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Cosmic-Stroje-Android
        path: build/game.apk
